<!DOCTYPE html>
<html>
<head>
    <title>Species HTML5 Mockup</title>

    <!-- EEA Head Resources Placeholder  -->

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <!-- Forces IE8+ into newest rendering engine even if on an intranet. This has to be defined before any script/style tags. -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <link rel="stylesheet" type="text/css" media="screen" href="http://wwws1.eea.europa.eu/portal_css/EEADesignCMS/ploneStyles1382977966028824091.css"/>
    <style type="text/css">@import url(http://www.eea.europa.eu/portal_css/EEADesignCMS/ploneStyles1382977966028908968.css);</style>
    <link rel="stylesheet" type="text/css" href="http://wwws4.eea.europa.eu/portal_css/EEADesignCMS/ploneStyles1382977966029664040.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="http://wwws3.eea.europa.eu/portal_css/EEADesignCMS/ploneStyles1382977966034554005.css"/>
        <!--[if lt IE 9]>

    <link rel="stylesheet" type="text/css" media="screen" href="http://www.eea.europa.eu/portal_css/EEADesignCMS/ploneStyles1382977966034720898.css" />
        <![endif]-->

        <!--[if IE 7]>

    <link rel="stylesheet" type="text/css" media="screen" href="http://www.eea.europa.eu/portal_css/EEADesignCMS/ploneStyles1382977966034810066.css" />
        <![endif]-->

        <!--[if IE 8]>

    <link rel="stylesheet" type="text/css" media="screen" href="http://www.eea.europa.eu/portal_css/EEADesignCMS/ploneStyles1382977966034904957.css" />
        <![endif]-->

        <!--[if IE 9]>

    <link rel="stylesheet" type="text/css" media="screen" href="http://www.eea.europa.eu/portal_css/EEADesignCMS/ploneStyles1382977966034992933.css" />
        <![endif]-->

    <script type="text/javascript" src="http://wwws3.eea.europa.eu/portal_javascripts/EEADesignCMS/ploneScripts1383054110890012980.js"></script>
    <script type="text/javascript" src="http://wwws1.eea.europa.eu/portal_javascripts/EEADesignCMS/ploneScripts1383054110891546965.js"></script>
    <script type="text/javascript" src="http://wwws2.eea.europa.eu/portal_javascripts/EEADesignCMS/ploneScripts1383054110891587019.js"></script>
    <script type="text/javascript" src="http://wwws1.eea.europa.eu/portal_javascripts/EEADesignCMS/ploneScripts1383054110892827034.js"></script>
    <script type="text/javascript" src="http://wwws3.eea.europa.eu/portal_javascripts/EEADesignCMS/ploneScripts1383054110894037008.js"></script>
    <script type="text/javascript" src="http://wwws3.eea.europa.eu/portal_javascripts/EEADesignCMS/ploneScripts1383054110894658089.js"></script>
    <script type="text/javascript" src="http://wwws2.eea.europa.eu/portal_javascripts/EEADesignCMS/ploneScripts1383054110895023108.js"></script>
    <script type="text/javascript" src="http://wwws2.eea.europa.eu/portal_javascripts/EEADesignCMS/ploneScripts1383054110895349026.js"></script>

    <!-- END EEA Head Resources Placeholder  -->

    <!-- Custom styles needed for Species page -->
    <link rel='stylesheet' href='../stylesheets/eunis.css' />
    <link rel='stylesheet' href='../stylesheets/homepage.css' />
    <!-- Custom js needed for Species page -->
    <script type="text/javascript" src="../javascripts/init.js"></script>
</head>

